.background {
  background: url("/assets/img/fondo2.jpg") center/cover no-repeat;
}

.court-info {
  font-size: 14px;
  color: #374151;
  margin-bottom: 15px;
}

.court-info p {
  margin-bottom: 5px;
}